<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogType" value="System"/>
    <add key="LogSource" value="WAS" />
    <add key="LogKeys" value="Bootstrap,DefaultAppPool"/>
    <add key="LogLevel" value="Warning,Error,Infromation"/>
  </appSettings>
</configuration>
