@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
@using Entity;
@model List<CoreProfile>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
</head>
<body >
    
    <div style="padding:0 40px">
        <div class="row">
            <div class="col-md-12"><h2 style=" font-size: 35px; color: #5bbc2e; font-weight: bolder; ">Watcher</h2></div>
            <hr />
            @foreach (CoreProfile profile in Model)
            {
                <div class="col-md-4" style="position: relative;border: solid 1px #1BBC9B;">
                    <div style="width: 40px; height:40px; background-image: url(/image/index_01.jpg); background-size:100%;background-repeat:no-repeat;position:absolute;right:50px;top:-20px;"></div>
                    <h4>@profile.ProjectKey</h4>
                    <p>
                        @profile.Description
                    </p>
                    <p><a class="btn btn-default green" href="/home/report">Goto &raquo;</a></p>
                </div>
            }
        </div>
    </div>
</body>
</html>