@using Microsoft.AspNet.Identity
<script language="javascript">
    function showtime() {
        var today, hour, second, minute, year, month, date;
        var strDate;
        today = new Date();
        var n_day = today.getDay();
        switch (n_day) {
            case 0: {
                strDate = "星期日"
            } break;
            case 1: {
                strDate = "星期一"
            } break;
            case 2: {
                strDate = "星期二"
            } break;
            case 3: {
                strDate = "星期三"
            } break;
            case 4: {
                strDate = "星期四"
            } break;
            case 5: {
                strDate = "星期五"
            } break;
            case 6: {
                strDate = "星期六"
            } break;
            case 7: {
                strDate = "星期日"
            } break;
        }
        year = today.getFullYear();
        month = today.getMonth() + 1;
        date = today.getDate();
        hour = today.getHours();
        minute = today.getMinutes();
        second = today.getSeconds();
        document.getElementById('time').innerHTML = year + "年" + month + "月" + date + "日  " + hour + ":" + minute + ":" + second + "  " +strDate; //显示时间
        setTimeout("showtime();", 1000); //设定函数自动执行时间为 1000 ms(1 s)
    }
</script>



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("你好 " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "管理" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" ,style="color:white" })</li>*@
        <li style="padding-top: 15px; color: white;"><span id="time"></span></li>
        
    </ul>
    <script language="javascript"> showtime();</script>
}
